@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: Poppins;
    src: url("../fonts/FontsFree-Net-Poppins-Regular.woff")
}

@keyframes bounce{
    from{transform: translateY(0px) translateX(0px);}
    to{transform: translateY(-2px) translateX(-2px);}
    to{transform: translateY(-4px) translateX(-4px);}
    to{transform: translateY(-6px) translateX(-6px);}
    to{transform: translateY(-8px) translateX(-8px);}
    to{transform: translateY(-6px) translateX(-6px);}
    to{transform: translateY(-4px) translateX(-4px);}
    to{transform: translateY(-2px) translateX(-2px);}
    to{transform: translateY(-0px) translateX(-0px);}

}
@keyframes talbugan{
    from{margin-bottom:0px}
    to{margin-bottom:1px;}
    to{margin-bottom:2px;}
    to{margin-bottom:3px;}
    to{margin-bottom:4px;}
    to{margin-bottom:5px;}
    from{margin-bottom:5px;}
    to{margin-bottom:4px;}
    to{margin-bottom:3px;}
    to{margin-bottom:2px;}
    to{margin-bottom:1px;}
    to{margin-bottom:0px;}

}

body{
    font-family: Poppins;
}
table{
    @apply w-full
}
table, tr, th,{
    @apply border-[2px]
}
th {
    @apply bg-gray-100 text-[.8rem] h-8
}
td{
    @apply text-[.8rem] h-8
}
tr{
    @apply hover:bg-gray-100 border-b-[1px]
}
td.tbl_no{
    @apply text-center
}


.btn{
    display:inline-block;
    padding:1rem;
    border:1px solid black;
}
.action__btn{
    display:inline-block;
    padding: .5rem 1rem;
    border:1px solid rgb(235,237,240);
    border-radius: .5rem;
}

i#talbog{
    rotate: 30deg;
    margin-bottom: 0px;
    animation-duration: .8s;
    animation-name:talbugan;
    animation-iteration-count: infinite;
}

@layer components{
    .header{
        @apply bg-white border-solid border-[#e5e7eb;]
    }
    .header .toggle__menu span.top_border{
        @apply border-l-[2px] h-[3rem] border-[pula]
    }
    .header .toggle__btn span.hdr__btn{
        @apply w-[.9rem] h-[.15rem] bg-gray-400 block rounded-full flex flex-col items-center
    }
    .header .toggle__btn.open span.hdr__btn:first-child{
        @apply translate-y-[4px] rotate-[-225deg] ease-in duration-200
    }
    .header .toggle__btn.open span.hdr__btn:nth-child(2){
        @apply opacity-0 ease-in duration-200
    }
    .header .toggle__btn.open span.hdr__btn:last-child{
        @apply translate-y-[-4px] rotate-[225deg] ease-in duration-200
    }
    .header .toggle__menu a.logout:hover{
        @apply bg-[#630b3c] text-white border-white
    }
    .header .toggle__btn:hover{
        @apply bg-[hsl(326.59,80%,21.57%)] text-white
    }
    .header .toggle__btn:hover span.hdr__btn{
        @apply bg-white
    }

    /* nav bar */
    .nav__bar ul li{
        @apply flex  items-center gap-[1rem] text-[.9rem] relative
    }
    .nav__bar ul li.navItem.active{
        @apply bg-white rounded-l-[2rem] text-[hsl(326.59,80%,21.57%)] 
    } 
    .navItem.active:hover a{
         @apply bg-white rounded-l-[2rem] text-[hsl(326.59,80%,21.57%)]
    }   
    .nav__bar ul li.navItem:hover{
        @apply bg-gradient-to-r from-[hsl(326.59,80%,21.57%)] to-[hsl(326.59,80%,50%)] text-white rounded-l-[2rem]
    }
    .nav__bar{
        @apply ease-in duration-[.2s] flex flex-col justify-between
    }
    .nav__bar.open{
        @apply left-[0rem] ease-in duration-[.2s]
    }
    .nav__bar a{
        @apply flex items-center gap-4 px-4 py-[.85rem] w-full block md:flex md:items-center md:justify-center lg:justify-normal
    }
    .nav__bar a.navItem{
        @apply lg:hidden md:hidden
    }

    /*hris-content*/
    .hris__home{
        @apply pt-[4.5rem]
    }
    .hris__wrapper{
        @apply md:ml-[5rem] lg:ml-[11rem] px-[1rem] lg:px-[2.5rem] 
    }
    .hris__content{
        @apply w-full mb-40
    }
    .hris__content h2{
        @apply text-[1.2rem] font-semibold py-[1rem] border-b-[1px]
    }
    .overview__wrapper{
        @apply lg:grid lg:grid-cols-[75%,24%] lg:gap-[1rem]
    }
    .overview__tardiness{
        @apply border-[1px] px-[1rem] mt-[1rem] rounded-md
    }
    .hris__title{
        @apply my-[1rem] flex justify-between
    }
    .hris__title h4{
        @apply text-[1rem] font-semibold text-[hsl(326.59,80%,21.57%)]
    }
    .hris__title a{
        @apply text-[.8rem] text-[hsl(326.59,80%,21.57%)] flex gap-[.5rem] items-center
    }
    .hris__item__content li{
        @apply flex items-center py-2 border-b
    }
    .hris__item__content p{
        @apply ml-[31px]
    }
    .hris__item__name{
        @apply flex items-center w-full
    }
    .hris__item__name i{
        @apply mr-4
    }
    


    /*hris-content-announcements*/
    .overview__announcements{
        @apply border-[1px] p-[1rem] rounded-md mt-[1rem]
    }
    .announcements__title{
        @apply flex items-center justify-between
    }
    .announcements__title h4{
        @apply text-[1rem] font-semibold text-[hsl(326.59,80%,21.57%)]
    }
    .announcements__title i{
        @apply text-[hsl(326.59,80%,21.57%)] text-[.8rem]
    }
    .announcements__content i{
        @apply text-[5rem]
    }
    .announcements__content{
        @apply text-gray-400 flex flex-col items-center gap-[1rem] py-[1rem]
    }

    /*hris-content-wfh*/
    .overview__wfh{
        @apply border-[1px] p-[1rem] rounded-md mt-[1rem] w-full
    }
    .wfh__title{
        @apply flex items-center justify-between
    }
    .wfh__title h4{
        @apply text-[1rem] font-semibold text-[hsl(326.59,80%,21.57%)]
    }
    .wfh__title a{
        @apply text-[.8rem] text-[hsl(326.59,80%,21.57%)] flex gap-[.5rem] items-center
    }
    .wfh__content{
        @apply flex items-center gap-[1rem] pb-[1rem] border-b-[1px]
    }
    .wfh__content i{
        @apply text-[2rem] text-gray-400
    }
    .wfh__desc{
        @apply mt-[1rem]
    }
    .wfh__content h4{
        @apply font-semibold leading-[1] text-[.8rem]
    }
    .wfh__content p.wfh__dept{
        @apply text-[.8rem]
    }
    .wfh__content p.wfh__day{
        @apply text-[.8rem] text-[hsl(326.59,80%,21.57%)]
    }

    /*hris-content-onLeave*/
    .overview__onLeave{
        @apply border-[1px] p-[1rem] rounded-md mt-[1rem]
    }
    .onLeave__title{
        @apply flex items-center justify-between
    }
    .onLeave__title h4{
        @apply text-[1rem] font-semibold text-[hsl(326.59,80%,21.57%)]
    }
    .onLeave__title i{
        @apply text-[hsl(326.59,80%,21.57%)] text-[.8rem]
    }
    .onLeave__content i{
        @apply text-[5rem]
    }
    .onLeave__content{
        @apply text-gray-400 flex flex-col items-center gap-[1rem] py-[1rem]
    }
    /*hris-content-bday*/
    .overview__bday{
        @apply border-[1px] p-[1rem] rounded-md mt-[1rem]
    }
    .bday__title{
        @apply flex items-center justify-between
    }
    .bday__title h4{
        @apply text-[1rem] font-semibold text-[hsl(326.59,80%,21.57%)]
    }
    .bday__title i{
        @apply text-[hsl(326.59,80%,21.57%)] text-[.8rem]
    }
    .bday__content{
        @apply flex items-center gap-[1rem] mt-[1rem]  pb-[1rem] border-b-[1px]
    }
    .bday__content img{
        @apply w-[4rem] rounded-full
    }
    .bday__content h4{
        @apply font-semibold leading-[1]
    }
    .bday__content p{
        @apply text-[.8rem]
    }
    .bday__desc{
        @apply w-full flex items-center justify-between
    }
    .bday__desc i{
        @apply text-[2rem] text-gray-600
    }

    /*footer*/
    .footer{
        @apply pb-[.5rem]
    }
    .footer__wrapper{
        @apply flex flex-col items-center
    }
    .footer__wrapper img{
        @apply w-[7rem]
    }
    .footer__wrapper p{
        @apply text-[.8rem]
    }
    .footer__wrapper a:hover{
        @apply text-[hsl(326.59,80%,21.57%)]
    }


}